* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.pt-7 {
    padding-top: 7rem;
}

.pb-7 {
    padding-bottom: 7rem;
}


.heroSection {
    background: #AB9774;
    color: #fff;
}

.hero {
    align-items: center;
}

.heroContent {
    position: relative;
    /* max-width: 1100px; */
    /* margin-left: -120px; */
    /* margin-right: -400px; */
    z-index: 99;
}

.img1 {
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 700px;
}

.shape {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 18%;
}

.rightImg {
    position: absolute;
    right: 100px;
    top: 90px;

}

.heroSection h1 {
    margin-bottom: 30px;
    font-size: 100px;
    line-height: 96px;
}

.heroDsc {
    font-size: 20px;
    font-weight: 400;
    max-width: 520px;

}

.button {
    background-color: transparent;
    color: #fff;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    padding: 12px 16px;
    margin-bottom: 30px;

}

.prod{
    
}

.filter{
    border-bottom: 1px solid rgb(223, 224, 225);
}


/* media query */

/******* XXL  *******/

@media (max-width:1400px) {
    .col-xxl-1 {
        width: 8.33%;
    }

    .col-xxl-2 {
        width: 16.66%;
    }

    .col-xxl-3 {
        width: 25%;
    }

    .col-xxl-4 {
        width: 33.33%;
    }

    .col-xxl-5 {
        width: 41.66%;
    }

    .col-xxl-6 {
        width: 50%;
    }

    .col-xxl-7 {
        width: 58.33%;
    }

    .col-xxl-8 {
        width: 66.66%;
    }

    .col-xxl-9 {
        width: 75%;
    }

    .col-xxl-10 {
        width: 83.33%;
    }

    .col-xxl-11 {
        width: 91.66%;
    }

    .col-xxl-12 {
        width: 100%;
    }
}


/******* XL  *******/

@media (max-width:1200px) {
    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}


/******* LG  *******/

@media (max-width:992px) {
    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/******* MD  *******/

@media (max-width:768px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/******* SM  *******/

@media (max-width:576px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}