@font-face {
    font-family: 'Radley';
    src: url('Radley-Regular.woff2') format('woff2'),
        url('Radley-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radley';
    src: url('Radley-Italic.woff2') format('woff2'),
        url('Radley-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

